# Funzioni
grazie alle funzioni si può dare un nome ad un blocco di codice che serve a svolgere appunto una specifica funzione. La struttura di una funzione al momento della chiamata (quando viene eseguita) è:
```python
nome(parametri)
```

In [1]:
print("ciao!")

ciao!

In questo esempio la funzione print prende come parametro la stringa "ciao" e la invia al flusso standard di output, che normalmente viene mostrato a video.

Oltre ai letterali una funzione può ricevere come parametro qualsiasi espressione che infine viene valutata ad un valore come una variabile:

In [2]:
a = "ciao"
print(a)

ciao

## Creare una funzione
Per definire una nuova funzione si usa la seguente struttura:
```python
def nome(parametri):
    ...
    return valore
```
la parola def è una parola riservata (non si può usare come nome di variabili o funzioni) e serve a specificare la creazione di una nuova funzione. I parametri possono essere 0 e più, mentre l'espressione **return** serve nel caso in cui si volesse avere un valore restituito dalla funzione (cioè la maggior parte dei casi).

In [3]:
n = 24
m = n/2
print(m)
mm = m / 2
print(mm)
risultati = (m,mm)

12.0
6.0

In [4]:
risultati

(12.0, 6.0)

In [7]:
def met_e_metmet(n):
    m = n/2
    print(m)
    mm = m / 2
    print(mm)
    return (m,mm)

In [8]:
met_e_metmet(6)

3.0
1.5

(3.0, 1.5)

In [9]:
a = met_e_metmet(6)

3.0
1.5

In [10]:
a

(3.0, 1.5)

In [12]:
met_e_metmet(met_e_metmet(66)[1])

33.0
16.5
8.25
4.125

(8.25, 4.125)

In [13]:
def dividi(numeratore, denominatore):
    return numeratore/denominatore

In [14]:
dividi(6,3)

2.0

In [15]:
dividi(6)

TypeError: dividi() missing 1 required positional argument: 'denominatore'

In [16]:
def dividi(numeratore, denominatore=2):
    return numeratore/denominatore

In [17]:
dividi(6)

3.0

In [18]:
dividi(32, 4)

8.0

In [19]:
dividi(32, denominatore=6)

5.333333333333333

In [20]:
def saluta():
    print("ciao!")

In [22]:
saluta()

ciao!

In [26]:
a = saluta()

ciao!

In [30]:
a = saluta

In [31]:
a

In [32]:
a()

ciao!

## selezione e iterazione

In [5]:
if 3 > 3 :
    print("yes!")
else:
    print("no")

no

In [7]:
type(3 > 3)

bool

In [8]:
if 3 < 3 :
    print("yes!")
else:
    print("no")

no

In [9]:
if 3 <= 3 :
    print("yes!")
else:
    print("no")

yes!

In [10]:
if 3 == 3 :
    print("yes!")
else:
    print("no")

yes!

In [11]:
if 3 != 3 :
    print("yes!")
else:
    print("no")

no

In [14]:
def dimezza(x):
    if x > 1:
        print(x)
        return dimezza(x/2)
    else:
        return 0

In [16]:
dimezza(44)

44
22.0
11.0
5.5
2.75
1.375

0

In [19]:
4 % 2

0

In [23]:
n = 3
if n > 4:
    if n % 2 == 0:
        print("il numero è maggiore di 4 e pari")
else:
    print("il numero è troppo piccolo")

il numero è troppo piccolo

### operatori logici

In [24]:
False and False

False

In [25]:
True and False

False

In [26]:
True and True

True

In [27]:
False or False

False

In [28]:
True or False

True

In [29]:
True or True

True

In [31]:
n = 101
if n > 4 and n % 2 == 0:
    print("il numero è maggiore di 4 e pari")
else:
    print("il numero è troppo piccolo o dispari")

il numero è troppo piccolo o dispari

In [42]:
n = len("zebra")
if n >= 4:
    print("maggiore o uguale di 4")
elif n%2 == 0:
    print("minore di 4 ma pari")
elif n == 6:
    print("è 3")
else:
    print("culo")

maggiore o uguale di 4

esempio di priorità di and su or

In [63]:
x = 200
while x > 50:
    if x > 100:
        x -= 5
        print("hello", x) # in questo momenaoksf ko
        continue 
    else:
        x -= 10
    print("sono fuori dalle condizioni", x)

hello 195
hello 190
hello 185
hello 180
hello 175
hello 170
hello 165
hello 160
hello 155
hello 150
hello 145
hello 140
hello 135
hello 130
hello 125
hello 120
hello 115
hello 110
hello 105
hello 100
sono fuori dalle condizioni 90
sono fuori dalle condizioni 80
sono fuori dalle condizioni 70
sono fuori dalle condizioni 60
sono fuori dalle condizioni 50