# Introduzione
Python è un linguaggio interpretato, cioè il codice non viene tradotto in linguaggio macchina per creare un eseguibile, ma piuttosto intepretato quasi riga per riga in maniera sequenziale. Grazie a Ipyton e jupyter possiamo avere delle "celle" in cui eseguire blocchi di codice separati in un ambiente globale, e vedere eventuali risultati passo passo.

# tipi di dato e variabili

## tipi base
per tipo intendiamo letteralmente il tipo di valore che vogliamo trattare. Per esempio un tipo **intero** può contenere solo numeri interi, un tipo **float** solo numeri a virgola mobile e così via.

Vediamo un primo esempio nella prossima cella:

In [1]:
42

42

eseguiendo il solo **42** python ha valutato l'espressione nella riga e restituito istantaneamente il suo valore, cioè 42. Chiamiamo i valori espliciti come questo **letterali**.

In [2]:
type(42)

int

la funzione type ci permette di vedere il tipo restituito da un'espressione. In questo caso il letterale 42 risulta essere di tipo intero. Questo perchè python cerca di associare un letterale al tipo più rappresentativo possibile in automatico. Vediamo un esempio con un numero a vigola mobile, cioè di tipo **float**.

In [3]:
type(42.2)

float

Un altro tipo base molto utile è la **stringa**, di tipo **str**

In [4]:
type("gatto")

str

Il letterale stringa si esplicita includendo il valore tra caratteri **\"** oppure **\'**

In [6]:
type('gatto')

str

Un ultimo tipo base molto importante e utile è il tipo **bool**, che può assumere solo valori **True** o **False**, occupando di fatto un singolo bit in memoria. Occhio alle maiuscole! di fatti True e False sono un esempio di parole riservate, cioè hanno il solo scopo e uso di rappresentare un valore di verità e non possono essere usate come nome di variabili.

In [8]:
type(True)

bool

In [9]:
type(False)

bool

## Tipi complessi
Oltre ai tipi base, visti prima (non sono tutti ma sono i più utili) esistono tipi complessi (o composti) che possono avere funzionalità diverse. 
### Liste
Iniziamo con le **liste** di tipo **list**

In [10]:
[1, 2, 5, 2.3, "gatto", "cipolla", True]

[1, 2, 5, 2.3, 'gatto', 'cipolla', True]

In [11]:
type([1, 2, 5, 2.3, "gatto", "cipolla", True])

list

delimitando tra **[  ]** una lista di letterali separati da virgole abbiamo creato un letterale di tipo lista, che è un **iterabile** (vedremo più avanti) che ha le caratteristiche di essere **ordinato** e **mutabile**:

+ **ordinato**: significa che gli elementi sono accessibili tramite un indice
+ **mutabile**: significa che è possibile modificare il valore dell'elemento una volta creato

grazie al suo essere ordinata, una lista può essere letta o scritta nei suoi specifici elementi grazie alla posizione, indicata ancora una volta con parentesi quadre (iniziando a contare da 0 per il primo elemento e poi in ordine):

In [1]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][4]

'gatto'

La cella sopra restituisce l'elemeto alla posizione 4 (quindi il quinto) della lista. Possiamo anche accedere a più elementi della lista utilizzando quello che si chiama uno **slice**, che consiste sostanzialmente in un intervallo, seguendo questa sintassi:
```python
[inizio:fine:passo]
```
dove inizio è l'indice del primo elemento dello slice, fine è **l'indice dell'elemento successivo all'ultimo** della slice e il passo è l'intervallo a cui vogliamo prelevare i valori all'interno della slice. Se non si specifica l'inizio python prenderà in automatico l'elemento 0, il default per la fine è la lunghezza della lista e infine per il passo il default è 1

In [4]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][2:5] #restituisce gli elementi da 2 a 4

[5, 2.3, 'gatto']

In [6]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][2:] #restituisce gli elementi da 2 in poi

[5, 2.3, 'gatto', 'cipolla', True]

In [7]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][:4] #restituisce gli elementi fino a 3

[1, 2, 5, 2.3]

In [8]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][::2] #restituisce tutti gli elementi in posizioni pari

[1, 5, 'gatto', True]

Il passo può essere anche negativo!

In [10]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][::-1] #Restituisce la lista al contrario

[True, 'cipolla', 'gatto', 2.3, 5, 2, 1]

L'indice -1 corrisponde all'ultimo elemento della lista, -2 al penultimo e così via

In [11]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][-1]

True

In [12]:
[1, 2, 5, 2.3, "gatto", "cipolla", True][-2]

'cipolla'

### Tuple
le tuple sono iterabili **ordinati** ma **immutabili**, questo vuol dire che una volta creata una tupla può essere solo letta. Le tuple si indicano con **( )** al cui interno ci sono gli elementi separati da virgola

In [13]:
(1, 2, 5, 2.3, "gatto", "cipolla", True)

(1, 2, 5, 2.3, 'gatto', 'cipolla', True)

In [14]:
type((1, 2, 5, 2.3, "gatto", "cipolla", True))

tuple

In [17]:
(1, 2, 5, 2.3, "gatto", "cipolla", True)[3:5]

(2.3, 'gatto')

### Set
I set sono invece **non ordinati** e **mutabili**. Questo significa che non è possibile accedere ai singoli elementi tramite un indice numerico. In più ciascun elemento in un set è presente solo una volta, anche se alla sua creazione è specificato il contrario. Sono in sostanza degli insiemi nella definizione classica. Si indicano con **{ }** intorno ai valori separati da virgola.

NB: "gatto" viene mostrato solo una volta e l'ordine viene perso

In [20]:
{1, 2, 5, 2.3, "gatto", "cipolla", True, "gatto"}

{1, 2, 2.3, 5, 'cipolla', 'gatto'}

In [21]:
type({1, 2, 5, 2.3, "gatto", "cipolla", True, "gatto"})

set

### Dizionari
Un dizionario o **hashmap** è una collezione di elementi costituiti da coppie **chiave : valore** in cui le chiavi sono elementi univoci non ordinati che puntano a valori di qualsiasi tipo. Un valore può essere letto o scritto accedendo al dizionario tramite la chiave. Si crea un dizionario con la sintassi
```python
{key1:value, key2:value2, ..., keyn:valuen }
```

In [22]:
{"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0}

{'gatto': 'felino', 'cane': 'lupino', 1: 'uno', 'due': 2.0}

In [23]:
type({"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0})

dict

In [25]:
{"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0}["gatto"]

'felino'

possiamo accedere alle chiavi di un dizionario con la relativa funzione keys(), ai valori con values() ed alle coppie chiave:valore con items(). Tutte queste funzioni restituiscono altri iterabili (approfondimento in seguito).

In [26]:
{"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0}.keys()

dict_keys(['gatto', 'cane', 1, 'due'])

In [27]:
{"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0}.values()

dict_values(['felino', 'lupino', 'uno', 2.0])

In [28]:
{"gatto":"felino", "cane":"lupino", 1:"uno", "due":2.0}.items()

dict_items([('gatto', 'felino'), ('cane', 'lupino'), (1, 'uno'), ('due', 2.0)])

## Variabili
fino ad ora abbiamo eseguito singole linee di codice che restituivano un risultato. I letterali restituiscono sè stessi, mentre la funzione type ci ha restituito il tipo del letterale che abbiamo inserito tra le parentesi tonde.

Se si vuole conservare un valore per poterlo utilizzare all'interno del codice e per poterlo manipolare, questo deve essere assegnato ad una **variabile**, questo significa sostanzialmente dargli un nome. 

Una espressione di assegnazione si scrive come
```python
nome = valore
```
e si legge come: "assegna valore alla variabile nome", leggendo quindi da destra verso sinistra, con il simbolo = che significa **assegnare**.

Vediamo un esempio, assegnando alla variabile a il valore di 1

In [29]:
a = 1

Eseguendo questa cella non viene mostrato alcun risultato, ma ora il nome "a" contiene 1:

In [30]:
a

1

Per usarlo possiamo quindi nominare direttamente la variabile per raggiungere il valore da essa puntato. (Consiste sostanzialmente ad una posizione fisica dentro la memoria RAM)

In [31]:
a + 1

2

Una variabile può contenere un valore per volta, una nuova assegnazione ne sovrascrive il contenuto:

In [32]:
a = 2

In [33]:
a

2

In [34]:
a = "lamantino"

In [35]:
a

'lamantino'

### Stringhe come liste
È importante sapere ora che le stringhe possono essere viste anche come liste di singoli caratteri, quindi condividono con le liste la possibilità di accesso tramite indice numerico e di effettuare lo slicing:

In [37]:
s = "il gatto è sul tavolo"
s[11]

's'

In [38]:
s[2:12]

' gatto è s'

In [39]:
s[::-1]

'olovat lus è ottag li'